.results-list {
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.results-list li {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.results-list li:hover {
  background-color: #eee; 
}
