
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center; 

  border-radius: 4px;
  padding: 8px;
  width: 50%; 
  margin: 0 auto; 
}
  .search-bar span {
    margin-right: 8px;
  }
  
  .search-bar input {
    flex: 1;
    border: 1px solid black;
    padding: 6px 8px;
    border-radius: 4px;
  }
  
  .search-bar button {
    background-color: yellow;
    color: black;
    border: 2px solid black;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #4770B6
  }